/* ==============================
   RESET & GLOBAL
============================== */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* ==============================
   APP LAYOUT
============================== */

.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Middle content area */
.content {
  flex: 1;
  display: flex;
  width: 100%;
  overflow: hidden;
}

/* ==============================
   HEADER
============================== */

.header {
  height: 120px;
  width: 100%;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin: 0;
  font-size: 20px;
}

/* Navigation (right side) */
.nav {
  margin-left: auto;
  padding-right: 40px;
  display: flex;
  gap: 50px;
}

.nav-link {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 16px;
}

.nav-link.active {
  color: #ffffff;
  font-weight: bold;
}

/* ==============================
   SIDEBAR
============================== */

.sidebar {
  width: 240px;
  /* height: 100vh; */
  background: #0f172a;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar-link.active {
  background: #1e293b;
}



/* ==============================
   MAIN CONTENT
============================== */

.main {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

/* ==============================
   FOOTER
============================== */

.footer {
  height: 100px;
  width: 100%;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
